@import '../variables';

.heading-container {
  margin-bottom: 3rem;

  h2 {
    font-family: $sans;
    font-weight: 300;
    font-size: 4rem;
    margin: 0;

    &.subheading {
      font-size: 1.5rem;
      font-family: $serif;
    }
  }
}